h1{
    text-align: center;
}

h2{
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

table{
    border: 1px solid black;
    text-align: center;
}

thead {
    background-color: yellow;
    }
    
td{
    border: 1px solid black;
}